IndentWidth: 4
SortIncludes: false
ColumnLimit: 0
IndentCaseLabels: true
IndentPPDirectives: AfterHash
BreakBeforeBraces: Allman
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
SpaceAfterCStyleCast: true
AlwaysBreakAfterDefinitionReturnType: true
ContinuationIndentWidth: 4
BracedInitializerIndentWidth: 4
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: true