/build/
**/*.swp
/project.4coder
**/*.h.gch
/log
/log.txt
/theme_dump.txt
/theme_dump
/framed.raddbg_profile
/framed.raddbg_user
/script/start_raddbg.bat
/src/render/d3d11/d3d11_pshader.h
/src/render/d3d11/d3d11_vshader.h